<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.param.DxxzspTokenConfMapper">
	
	
  <!-- 添加部门业务动态信息 -->
  <insert id="addToken">
    insert into DXXZSP_TOKEN_CONF(TOKEN, UNAME) 
	VALUES(#{token},#{userName});
  </insert>
  
  <!-- 查询当年部门动态数据 -->
  <select id="getToken" resultType="java.lang.String">
  	select TOKEN from DXXZSP_TOKEN_CONF where UNAME = #{userName}
  </select>
  
  <!-- 更新一条部门动态信息 -->
  <update id="updToken">
  	update DXXZSP_TOKEN_CONF
	set TOKEN = #{token}
	where UNAME = #{userName}
  </update>

</mapper>