<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.dao.domainRegistration.change.comm.DxxzspLicenseChangedMapper">
  <resultMap id="BaseResultMap" type="com.module.domain.domainRegistration.change.comm.DxxzspLicenseChanged">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CREATED" jdbcType="VARCHAR" property="created" />
    <result column="MODIFIED" jdbcType="VARCHAR" property="modified" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="MODIFICATOR" jdbcType="VARCHAR" property="modificator" />
    <result column="RECYCLE" jdbcType="VARCHAR" property="recycle" />
    <result column="LICENSE_START_DATE" jdbcType="VARCHAR" property="licenseStartDate" />
    <result column="LICENSE_END_DATE" jdbcType="VARCHAR" property="licenseEndDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.module.domain.domainRegistration.change.comm.DxxzspLicenseChangedWithBLOBs">
    <result column="LICENSE_CHANGED_FLEX" jdbcType="CLOB" property="licenseChangedFlex" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
  	select
  	<include refid="Base_Column_List"/>
  	,
  	<include refid="Blob_Column_List"/>
  	from DXXZSP_LICENSE_CHANGED
  	where ID = #{id,jdbcType=VARCHAR}
  </select>
  <sql id="Base_Column_List">
    ID, TITLE, CREATED, MODIFIED, CREATOR, MODIFICATOR, RECYCLE, LICENSE_START_DATE, LICENSE_END_DATE
  </sql>
  <sql id="Blob_Column_List">
    LICENSE_CHANGED_FLEX
  </sql>
  <insert id="insert" parameterType="com.module.domain.domainRegistration.change.comm.DxxzspLicenseChangedWithBLOBs">
    insert into DXXZSP_LICENSE_CHANGED (ID, TITLE, CREATED, 
      MODIFIED, CREATOR, MODIFICATOR, 
      RECYCLE, LICENSE_START_DATE, LICENSE_END_DATE, 
      LICENSE_CHANGED_FLEX)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{created,jdbcType=VARCHAR}, 
      #{modified,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modificator,jdbcType=VARCHAR}, 
      #{recycle,jdbcType=VARCHAR}, #{licenseStartDate,jdbcType=VARCHAR}, #{licenseEndDate,jdbcType=VARCHAR}, 
      #{licenseChangedFlex,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.module.domain.domainRegistration.change.comm.DxxzspLicenseChangedWithBLOBs">
    insert into DXXZSP_LICENSE_CHANGED
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="modified != null">
        MODIFIED,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modificator != null">
        MODIFICATOR,
      </if>
      <if test="recycle != null">
        RECYCLE,
      </if>
      <if test="licenseStartDate != null">
        LICENSE_START_DATE,
      </if>
      <if test="licenseEndDate != null">
        LICENSE_END_DATE,
      </if>
      <if test="licenseChangedFlex != null">
        LICENSE_CHANGED_FLEX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=VARCHAR},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modificator != null">
        #{modificator,jdbcType=VARCHAR},
      </if>
      <if test="recycle != null">
        #{recycle,jdbcType=VARCHAR},
      </if>
      <if test="licenseStartDate != null">
        #{licenseStartDate,jdbcType=VARCHAR},
      </if>
      <if test="licenseEndDate != null">
        #{licenseEndDate,jdbcType=VARCHAR},
      </if>
      <if test="licenseChangedFlex != null">
        #{licenseChangedFlex,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
</mapper>