<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.domain.DxxzspWlyjsfaZybMapper">
	<resultMap id="BaseResultMap" type="com.module.domain.domain.DxxzspWlyjsfaZyb">
		<result column="ID" property="id" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="CREATED" property="created" jdbcType="VARCHAR" />
		<result column="MODIFIED" property="modified" jdbcType="VARCHAR" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		<result column="MODIFICATOR" property="modificator" jdbcType="VARCHAR" />
		<result column="RECYCLE" property="recycle" jdbcType="VARCHAR" />
		<result column="WLSSLY" property="wlssly" jdbcType="VARCHAR" />
		<result column="ITEMID" property="itemid" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs"
		type="com.module.domain.domain.DxxzspWlyjsfaZybWithBLOBs" extends="BaseResultMap">
		<result column="WLTTFJSC" property="wlttfjsc" jdbcType="BLOB" />
		<result column="KZFA" property="kzfa" jdbcType="CLOB" />
		<result column="XXDZ" property="xxdz" jdbcType="CLOB" />
		<result column="JRWFW" property="jrwfw" jdbcType="CLOB" />
		<result column="ZYSBQD" property="zysbqd" jdbcType="CLOB" />
		<result column="JSFZR" property="jsfzr" jdbcType="CLOB" />
		<result column="LXFS" property="lxfs" jdbcType="CLOB" />
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from DXXZSP_WLYJSFA_ZYB
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<sql id="Base_Column_List">
		ID,
		TITLE,
		CREATED,
		MODIFIED,
		CREATOR,
		MODIFICATOR,
		RECYCLE,
		WLSSLY,
		ITEMID
	</sql>
	<sql id="Blob_Column_List">
		WLTTFJSC,
		KZFA,
		XXDZ,
		JRWFW,
		ZYSBQD,
		JSFZR,
		LXFS
	</sql>
	<insert id="insert" parameterType="com.module.domain.domain.DxxzspWlyjsfaZybWithBLOBs">
		insert into DXXZSP_WLYJSFA_ZYB
		(ID, TITLE, CREATED,
		MODIFIED, CREATOR, MODIFICATOR,
		RECYCLE, WLSSLY,
		ITEMID,
		WLTTFJSC, KZFA, XXDZ, JRWFW,
		ZYSBQD, JSFZR, LXFS)
		values
		(#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
		#{created,jdbcType=VARCHAR},
		#{modified,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR}, #{modificator,jdbcType=VARCHAR},
		#{recycle,jdbcType=VARCHAR}, #{wlssly,jdbcType=VARCHAR},
		#{itemid,jdbcType=VARCHAR},
		#{wlttfjsc,jdbcType=BLOB},
		#{kzfa,jdbcType=CLOB}, #{xxdz,jdbcType=CLOB}, #{jrwfw,jdbcType=CLOB},
		#{zysbqd,jdbcType=CLOB}, #{jsfzr,jdbcType=CLOB},
		#{lxfs,jdbcType=CLOB})
	</insert>
	<insert id="insertSelective" parameterType="com.module.domain.domain.DxxzspWlyjsfaZybWithBLOBs">
		insert into DXXZSP_WLYJSFA_ZYB
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="title != null">
				TITLE,
			</if>
			<if test="created != null">
				CREATED,
			</if>
			<if test="modified != null">
				MODIFIED,
			</if>
			<if test="creator != null">
				CREATOR,
			</if>
			<if test="modificator != null">
				MODIFICATOR,
			</if>
			<if test="recycle != null">
				RECYCLE,
			</if>
			<if test="wlssly != null">
				WLSSLY,
			</if>
			<if test="itemid != null">
				ITEMID,
			</if>
			<if test="wlttfjsc != null">
				WLTTFJSC,
			</if>
			<if test="kzfa != null">
				KZFA,
			</if>
			<if test="xxdz != null">
				XXDZ,
			</if>
			<if test="jrwfw != null">
				JRWFW,
			</if>
			<if test="zysbqd != null">
				ZYSBQD,
			</if>
			<if test="jsfzr != null">
				JSFZR,
			</if>
			<if test="lxfs != null">
				LXFS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="created != null">
				#{created,jdbcType=VARCHAR},
			</if>
			<if test="modified != null">
				#{modified,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="modificator != null">
				#{modificator,jdbcType=VARCHAR},
			</if>
			<if test="recycle != null">
				#{recycle,jdbcType=VARCHAR},
			</if>
			<if test="wlssly != null">
				#{wlssly,jdbcType=VARCHAR},
			</if>
			<if test="itemid != null">
				#{itemid,jdbcType=VARCHAR},
			</if>
			<if test="wlttfjsc != null">
				#{wlttfjsc,jdbcType=BLOB},
			</if>
			<if test="kzfa != null">
				#{kzfa,jdbcType=CLOB},
			</if>
			<if test="xxdz != null">
				#{xxdz,jdbcType=CLOB},
			</if>
			<if test="jrwfw != null">
				#{jrwfw,jdbcType=CLOB},
			</if>
			<if test="zysbqd != null">
				#{zysbqd,jdbcType=CLOB},
			</if>
			<if test="jsfzr != null">
				#{jsfzr,jdbcType=CLOB},
			</if>
			<if test="lxfs != null">
				#{lxfs,jdbcType=CLOB},
			</if>
		</trim>
	</insert>
</mapper>