<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.module.dao.domain.DxxzspDomainManagementMapper" >
  <resultMap id="BaseResultMap" type="com.module.domain.domain.DxxzspDomainManagement" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <!--  <result column="NewsTitle" property="newstitle" jdbcType="VARCHAR" />-->
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIE_TIME" property="modifieTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="MODIFICATOR" property="modificator" jdbcType="VARCHAR" />
    <result column="RECYCLE" property="recycle" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.module.domain.domain.DxxzspDomainManagementWithBLOBs" extends="BaseResultMap" >
    <result column="DEV_DOMAIN_SYSTEM" property="devDomainSystem" jdbcType="CLOB" />
    <result column="REGISTER_MECHANISM" property="registerMechanism" jdbcType="CLOB" />
    <result column="DOMAIN_REG_FLEX1" property="domainRegFlex1" jdbcType="CLOB" />
    <result column="COMPLAINT_RESPONSE_FLOW" property="complaintResponseFlow" jdbcType="CLOB" />
    <result column="HANDLING_COMPLAINTS" property="handlingComplaints" jdbcType="CLOB" />
    <result column="COMPLAINT_CONTACT_METHOD" property="complaintContactMethod" jdbcType="CLOB" />
    <result column="INSPECTION_VIOLATION" property="inspectionViolation" jdbcType="CLOB" />
    <result column="ILLEGAL_DOMAIN_LIST" property="illegalDomainList" jdbcType="CLOB" />
    <result column="ILLEGAL_DOMAIN_MANAGER" property="illegalDomainManager" jdbcType="CLOB" />
    <result column="TECH_ILLEGAL_DOMAIN" property="techIllegalDomain" jdbcType="CLOB" />
    <result column="REPORT_ILLEGAL_DOMAIN" property="reportIllegalDomain" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, MODIFIE_TIME, CREATOR, MODIFICATOR, RECYCLE
  </sql>
  <sql id="Blob_Column_List" >
    DEV_DOMAIN_SYSTEM, REGISTER_MECHANISM, DOMAIN_REG_FLEX1, COMPLAINT_RESPONSE_FLOW, 
    HANDLING_COMPLAINTS, COMPLAINT_CONTACT_METHOD, INSPECTION_VIOLATION, ILLEGAL_DOMAIN_LIST, 
    ILLEGAL_DOMAIN_MANAGER, TECH_ILLEGAL_DOMAIN, REPORT_ILLEGAL_DOMAIN
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from DXXZSP_DOMAIN_MANAGEMENT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DXXZSP_DOMAIN_MANAGEMENT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.module.domain.domain.DxxzspDomainManagementWithBLOBs" >
    insert into DXXZSP_DOMAIN_MANAGEMENT (ID, NewsTitle, CREATE_TIME, 
      MODIFIE_TIME, CREATOR, MODIFICATOR, 
      RECYCLE, DEV_DOMAIN_SYSTEM, REGISTER_MECHANISM, 
      DOMAIN_REG_FLEX1, COMPLAINT_RESPONSE_FLOW, HANDLING_COMPLAINTS, 
      COMPLAINT_CONTACT_METHOD, INSPECTION_VIOLATION, 
      ILLEGAL_DOMAIN_LIST, ILLEGAL_DOMAIN_MANAGER, TECH_ILLEGAL_DOMAIN, 
      REPORT_ILLEGAL_DOMAIN)
    values (#{id,jdbcType=VARCHAR}, #{newstitle,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifieTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modificator,jdbcType=VARCHAR}, 
      #{recycle,jdbcType=VARCHAR}, #{devDomainSystem,jdbcType=CLOB}, #{registerMechanism,jdbcType=CLOB}, 
      #{domainRegFlex1,jdbcType=CLOB}, #{complaintResponseFlow,jdbcType=CLOB}, #{handlingComplaints,jdbcType=CLOB}, 
      #{complaintContactMethod,jdbcType=CLOB}, #{inspectionViolation,jdbcType=CLOB}, 
      #{illegalDomainList,jdbcType=CLOB}, #{illegalDomainManager,jdbcType=CLOB}, #{techIllegalDomain,jdbcType=CLOB}, 
      #{reportIllegalDomain,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.module.domain.domain.DxxzspDomainManagementWithBLOBs" >
    insert into DXXZSP_DOMAIN_MANAGEMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="newstitle != null" >
        NewsTitle,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifieTime != null" >
        MODIFIE_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="modificator != null" >
        MODIFICATOR,
      </if>
      <if test="recycle != null" >
        RECYCLE,
      </if>
      <if test="devDomainSystem != null" >
        DEV_DOMAIN_SYSTEM,
      </if>
      <if test="registerMechanism != null" >
        REGISTER_MECHANISM,
      </if>
      <if test="domainRegFlex1 != null" >
        DOMAIN_REG_FLEX1,
      </if>
      <if test="complaintResponseFlow != null" >
        COMPLAINT_RESPONSE_FLOW,
      </if>
      <if test="handlingComplaints != null" >
        HANDLING_COMPLAINTS,
      </if>
      <if test="complaintContactMethod != null" >
        COMPLAINT_CONTACT_METHOD,
      </if>
      <if test="inspectionViolation != null" >
        INSPECTION_VIOLATION,
      </if>
      <if test="illegalDomainList != null" >
        ILLEGAL_DOMAIN_LIST,
      </if>
      <if test="illegalDomainManager != null" >
        ILLEGAL_DOMAIN_MANAGER,
      </if>
      <if test="techIllegalDomain != null" >
        TECH_ILLEGAL_DOMAIN,
      </if>
      <if test="reportIllegalDomain != null" >
        REPORT_ILLEGAL_DOMAIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="newstitle != null" >
        #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifieTime != null" >
        #{modifieTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modificator != null" >
        #{modificator,jdbcType=VARCHAR},
      </if>
      <if test="recycle != null" >
        #{recycle,jdbcType=VARCHAR},
      </if>
      <if test="devDomainSystem != null" >
        #{devDomainSystem,jdbcType=CLOB},
      </if>
      <if test="registerMechanism != null" >
        #{registerMechanism,jdbcType=CLOB},
      </if>
      <if test="domainRegFlex1 != null" >
        #{domainRegFlex1,jdbcType=CLOB},
      </if>
      <if test="complaintResponseFlow != null" >
        #{complaintResponseFlow,jdbcType=CLOB},
      </if>
      <if test="handlingComplaints != null" >
        #{handlingComplaints,jdbcType=CLOB},
      </if>
      <if test="complaintContactMethod != null" >
        #{complaintContactMethod,jdbcType=CLOB},
      </if>
      <if test="inspectionViolation != null" >
        #{inspectionViolation,jdbcType=CLOB},
      </if>
      <if test="illegalDomainList != null" >
        #{illegalDomainList,jdbcType=CLOB},
      </if>
      <if test="illegalDomainManager != null" >
        #{illegalDomainManager,jdbcType=CLOB},
      </if>
      <if test="techIllegalDomain != null" >
        #{techIllegalDomain,jdbcType=CLOB},
      </if>
      <if test="reportIllegalDomain != null" >
        #{reportIllegalDomain,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.module.domain.domain.DxxzspDomainManagementWithBLOBs" >
    update DXXZSP_DOMAIN_MANAGEMENT
    <set >
      <if test="newstitle != null" >
        NewsTitle = #{newstitle,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifieTime != null" >
        MODIFIE_TIME = #{modifieTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modificator != null" >
        MODIFICATOR = #{modificator,jdbcType=VARCHAR},
      </if>
      <if test="recycle != null" >
        RECYCLE = #{recycle,jdbcType=VARCHAR},
      </if>
      <if test="devDomainSystem != null" >
        DEV_DOMAIN_SYSTEM = #{devDomainSystem,jdbcType=CLOB},
      </if>
      <if test="registerMechanism != null" >
        REGISTER_MECHANISM = #{registerMechanism,jdbcType=CLOB},
      </if>
      <if test="domainRegFlex1 != null" >
        DOMAIN_REG_FLEX1 = #{domainRegFlex1,jdbcType=CLOB},
      </if>
      <if test="complaintResponseFlow != null" >
        COMPLAINT_RESPONSE_FLOW = #{complaintResponseFlow,jdbcType=CLOB},
      </if>
      <if test="handlingComplaints != null" >
        HANDLING_COMPLAINTS = #{handlingComplaints,jdbcType=CLOB},
      </if>
      <if test="complaintContactMethod != null" >
        COMPLAINT_CONTACT_METHOD = #{complaintContactMethod,jdbcType=CLOB},
      </if>
      <if test="inspectionViolation != null" >
        INSPECTION_VIOLATION = #{inspectionViolation,jdbcType=CLOB},
      </if>
      <if test="illegalDomainList != null" >
        ILLEGAL_DOMAIN_LIST = #{illegalDomainList,jdbcType=CLOB},
      </if>
      <if test="illegalDomainManager != null" >
        ILLEGAL_DOMAIN_MANAGER = #{illegalDomainManager,jdbcType=CLOB},
      </if>
      <if test="techIllegalDomain != null" >
        TECH_ILLEGAL_DOMAIN = #{techIllegalDomain,jdbcType=CLOB},
      </if>
      <if test="reportIllegalDomain != null" >
        REPORT_ILLEGAL_DOMAIN = #{reportIllegalDomain,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.module.domain.domain.DxxzspDomainManagementWithBLOBs" >
    update DXXZSP_DOMAIN_MANAGEMENT
    set NewsTitle = #{newstitle,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFIE_TIME = #{modifieTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MODIFICATOR = #{modificator,jdbcType=VARCHAR},
      RECYCLE = #{recycle,jdbcType=VARCHAR},
      DEV_DOMAIN_SYSTEM = #{devDomainSystem,jdbcType=CLOB},
      REGISTER_MECHANISM = #{registerMechanism,jdbcType=CLOB},
      DOMAIN_REG_FLEX1 = #{domainRegFlex1,jdbcType=CLOB},
      COMPLAINT_RESPONSE_FLOW = #{complaintResponseFlow,jdbcType=CLOB},
      HANDLING_COMPLAINTS = #{handlingComplaints,jdbcType=CLOB},
      COMPLAINT_CONTACT_METHOD = #{complaintContactMethod,jdbcType=CLOB},
      INSPECTION_VIOLATION = #{inspectionViolation,jdbcType=CLOB},
      ILLEGAL_DOMAIN_LIST = #{illegalDomainList,jdbcType=CLOB},
      ILLEGAL_DOMAIN_MANAGER = #{illegalDomainManager,jdbcType=CLOB},
      TECH_ILLEGAL_DOMAIN = #{techIllegalDomain,jdbcType=CLOB},
      REPORT_ILLEGAL_DOMAIN = #{reportIllegalDomain,jdbcType=CLOB}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.module.domain.domain.DxxzspDomainManagement" >
    update DXXZSP_DOMAIN_MANAGEMENT
    set NewsTitle = #{newstitle,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFIE_TIME = #{modifieTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      MODIFICATOR = #{modificator,jdbcType=VARCHAR},
      RECYCLE = #{recycle,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>