<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.dao.domainRegistration.apply.apply.DxxzspImplSchemeMapper">
  <resultMap id="BaseResultMap" type="com.module.domain.domainRegistration.apply.apply.DxxzspImplScheme">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CREATED" jdbcType="VARCHAR" property="created" />
    <result column="MODIFIED" jdbcType="VARCHAR" property="modified" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="MODIFICATOR" jdbcType="VARCHAR" property="modificator" />
    <result column="RECYCLE" jdbcType="VARCHAR" property="recycle" />
    <result column="PICTURE1" jdbcType="VARCHAR" property="picture1" />
    <result column="PICTURE2" jdbcType="VARCHAR" property="picture2" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.module.domain.domainRegistration.apply.apply.DxxzspImplSchemeWithBLOBs">
    <result column="MANAGER_FLOW_FLEX" jdbcType="CLOB" property="managerFlowFlex" />
    <result column="USER_COMPLAINTS_HANDLING" jdbcType="CLOB" property="userComplaintsHandling" />
    <result column="TECH_SOLUTIONS_FLEX" jdbcType="CLOB" property="techSolutionsFlex" />
    <result column="ANALYZE_SERVER_STATUS" jdbcType="CLOB" property="analyzeServerStatus" />
    <result column="DOMAIN_SUPERVISION_FLEX" jdbcType="CLOB" property="domainSupervisionFlex" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TITLE, CREATED, 
      MODIFIED, CREATOR, MODIFICATOR, 
      RECYCLE, PICTURE1, PICTURE2
  </sql>
  
  <sql id="Blob_Column_List">
    MANAGER_FLOW_FLEX, USER_COMPLAINTS_HANDLING, TECH_SOLUTIONS_FLEX, ANALYZE_SERVER_STATUS, 
    DOMAIN_SUPERVISION_FLEX
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from DXXZSP_IMPL_SCHEME
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <insert id="insert" parameterType="com.module.domain.domainRegistration.apply.apply.DxxzspImplSchemeWithBLOBs">
    insert into DXXZSP_IMPL_SCHEME (ID, TITLE, CREATED, 
      MODIFIED, CREATOR, MODIFICATOR, 
      RECYCLE, PICTURE1, PICTURE2, 
      MANAGER_FLOW_FLEX, USER_COMPLAINTS_HANDLING, TECH_SOLUTIONS_FLEX, 
      ANALYZE_SERVER_STATUS, DOMAIN_SUPERVISION_FLEX)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{created,jdbcType=VARCHAR}, 
      #{modified,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modificator,jdbcType=VARCHAR}, 
      #{recycle,jdbcType=VARCHAR}, #{picture1,jdbcType=VARCHAR}, #{picture2,jdbcType=VARCHAR}, 
      #{managerFlowFlex,jdbcType=CLOB}, #{userComplaintsHandling,jdbcType=CLOB}, #{techSolutionsFlex,jdbcType=CLOB}, 
      #{analyzeServerStatus,jdbcType=CLOB}, #{domainSupervisionFlex,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.module.domain.domainRegistration.apply.apply.DxxzspImplSchemeWithBLOBs">
    insert into DXXZSP_IMPL_SCHEME
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="modified != null">
        MODIFIED,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modificator != null">
        MODIFICATOR,
      </if>
      <if test="recycle != null">
        RECYCLE,
      </if>
      <if test="picture1 != null">
        PICTURE1,
      </if>
      <if test="picture2 != null">
        PICTURE2,
      </if>
      <if test="managerFlowFlex != null">
        MANAGER_FLOW_FLEX,
      </if>
      <if test="userComplaintsHandling != null">
        USER_COMPLAINTS_HANDLING,
      </if>
      <if test="techSolutionsFlex != null">
        TECH_SOLUTIONS_FLEX,
      </if>
      <if test="analyzeServerStatus != null">
        ANALYZE_SERVER_STATUS,
      </if>
      <if test="domainSupervisionFlex != null">
        DOMAIN_SUPERVISION_FLEX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=VARCHAR},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modificator != null">
        #{modificator,jdbcType=VARCHAR},
      </if>
      <if test="recycle != null">
        #{recycle,jdbcType=VARCHAR},
      </if>
      <if test="picture1 != null">
        #{picture1,jdbcType=VARCHAR},
      </if>
      <if test="picture2 != null">
        #{picture2,jdbcType=VARCHAR},
      </if>
      <if test="managerFlowFlex != null">
        #{managerFlowFlex,jdbcType=CLOB},
      </if>
      <if test="userComplaintsHandling != null">
        #{userComplaintsHandling,jdbcType=CLOB},
      </if>
      <if test="techSolutionsFlex != null">
        #{techSolutionsFlex,jdbcType=CLOB},
      </if>
      <if test="analyzeServerStatus != null">
        #{analyzeServerStatus,jdbcType=CLOB},
      </if>
      <if test="domainSupervisionFlex != null">
        #{domainSupervisionFlex,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
</mapper>