<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.dao.registrationManagement.apply.apply.DxxzspDomainRegSystemMapper">
  <resultMap id="BaseResultMap" type="com.module.domain.registrationManagement.apply.apply.DxxzspDomainRegMana">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CREATED" jdbcType="VARCHAR" property="created" />
    <result column="MODIFIED" jdbcType="VARCHAR" property="modified" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="MODIFICATOR" jdbcType="VARCHAR" property="modificator" />
    <result column="RECYCLE" jdbcType="VARCHAR" property="recycle" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.module.domain.registrationManagement.apply.apply.DxxzspDomainRegSystemWithBLOBs">
    <result column="DEV_DOMAIN_SYSTEM" jdbcType="CLOB" property="devDomainSystem" />
    <result column="REGISTER_MECHANISM" jdbcType="CLOB" property="registerMechanism" />
    <result column="DOMAIN_REG_FLEX1" jdbcType="CLOB" property="domainRegFlex1" />
    <result column="COMPLAINT_RESPONSE_FLOW" jdbcType="CLOB" property="complaintResponseFlow" />
    <result column="HANDLING_COMPLAINTS" jdbcType="CLOB" property="handlingComplaints" />
    <result column="COMPLAINT_CONTACT_METHOD" jdbcType="CLOB" property="complaintContactMethod" />
    <result column="INSPECTION_VIOLATION" jdbcType="CLOB" property="inspectionViolation" />
    <result column="ILLEGAL_DOMAIN_LIST" jdbcType="CLOB" property="illegalDomainList" />
    <result column="ILLEGAL_DOMAIN_MANAGER" jdbcType="CLOB" property="illegalDomainManager" />
    <result column="TECH_ILLEGAL_DOMAIN" jdbcType="CLOB" property="techIllegalDomain" />
    <result column="REPORT_ILLEGAL_DOMAIN" jdbcType="CLOB" property="reportIllegalDomain" />
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from DXXZSP_DOMAIN_REG_SYSTEM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <sql id="Base_Column_List" >
	ID,TITLE,CREATED,MODIFIED,CREATOR,MODIFICATOR,RECYCLE
  </sql>
  
  
  <sql id="Blob_Column_List">
    DEV_DOMAIN_SYSTEM, REGISTER_MECHANISM, DOMAIN_REG_FLEX1, COMPLAINT_RESPONSE_FLOW, 
    HANDLING_COMPLAINTS, COMPLAINT_CONTACT_METHOD, INSPECTION_VIOLATION, ILLEGAL_DOMAIN_LIST, 
    ILLEGAL_DOMAIN_MANAGER, TECH_ILLEGAL_DOMAIN, REPORT_ILLEGAL_DOMAIN
  </sql>
  <insert id="insert" parameterType="com.module.domain.registrationManagement.apply.apply.DxxzspDomainRegSystemWithBLOBs">
    insert into DXXZSP_DOMAIN_REG_SYSTEM (ID, TITLE, CREATED, 
      MODIFIED, CREATOR, MODIFICATOR, 
      RECYCLE, DEV_DOMAIN_SYSTEM, REGISTER_MECHANISM, 
      DOMAIN_REG_FLEX1, COMPLAINT_RESPONSE_FLOW, HANDLING_COMPLAINTS, 
      COMPLAINT_CONTACT_METHOD, INSPECTION_VIOLATION, 
      ILLEGAL_DOMAIN_LIST, ILLEGAL_DOMAIN_MANAGER, TECH_ILLEGAL_DOMAIN, 
      REPORT_ILLEGAL_DOMAIN)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{created,jdbcType=VARCHAR}, 
      #{modified,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{modificator,jdbcType=VARCHAR}, 
      #{recycle,jdbcType=VARCHAR}, #{devDomainSystem,jdbcType=CLOB}, #{registerMechanism,jdbcType=CLOB}, 
      #{domainRegFlex1,jdbcType=CLOB}, #{complaintResponseFlow,jdbcType=CLOB}, #{handlingComplaints,jdbcType=CLOB}, 
      #{complaintContactMethod,jdbcType=CLOB}, #{inspectionViolation,jdbcType=CLOB}, 
      #{illegalDomainList,jdbcType=CLOB}, #{illegalDomainManager,jdbcType=CLOB}, #{techIllegalDomain,jdbcType=CLOB}, 
      #{reportIllegalDomain,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.module.domain.registrationManagement.apply.apply.DxxzspDomainRegSystemWithBLOBs">
    insert into DXXZSP_DOMAIN_REG_SYSTEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="created != null">
        CREATED,
      </if>
      <if test="modified != null">
        MODIFIED,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="modificator != null">
        MODIFICATOR,
      </if>
      <if test="recycle != null">
        RECYCLE,
      </if>
      <if test="devDomainSystem != null">
        DEV_DOMAIN_SYSTEM,
      </if>
      <if test="registerMechanism != null">
        REGISTER_MECHANISM,
      </if>
      <if test="domainRegFlex1 != null">
        DOMAIN_REG_FLEX1,
      </if>
      <if test="complaintResponseFlow != null">
        COMPLAINT_RESPONSE_FLOW,
      </if>
      <if test="handlingComplaints != null">
        HANDLING_COMPLAINTS,
      </if>
      <if test="complaintContactMethod != null">
        COMPLAINT_CONTACT_METHOD,
      </if>
      <if test="inspectionViolation != null">
        INSPECTION_VIOLATION,
      </if>
      <if test="illegalDomainList != null">
        ILLEGAL_DOMAIN_LIST,
      </if>
      <if test="illegalDomainManager != null">
        ILLEGAL_DOMAIN_MANAGER,
      </if>
      <if test="techIllegalDomain != null">
        TECH_ILLEGAL_DOMAIN,
      </if>
      <if test="reportIllegalDomain != null">
        REPORT_ILLEGAL_DOMAIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=VARCHAR},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modificator != null">
        #{modificator,jdbcType=VARCHAR},
      </if>
      <if test="recycle != null">
        #{recycle,jdbcType=VARCHAR},
      </if>
      <if test="devDomainSystem != null">
        #{devDomainSystem,jdbcType=CLOB},
      </if>
      <if test="registerMechanism != null">
        #{registerMechanism,jdbcType=CLOB},
      </if>
      <if test="domainRegFlex1 != null">
        #{domainRegFlex1,jdbcType=CLOB},
      </if>
      <if test="complaintResponseFlow != null">
        #{complaintResponseFlow,jdbcType=CLOB},
      </if>
      <if test="handlingComplaints != null">
        #{handlingComplaints,jdbcType=CLOB},
      </if>
      <if test="complaintContactMethod != null">
        #{complaintContactMethod,jdbcType=CLOB},
      </if>
      <if test="inspectionViolation != null">
        #{inspectionViolation,jdbcType=CLOB},
      </if>
      <if test="illegalDomainList != null">
        #{illegalDomainList,jdbcType=CLOB},
      </if>
      <if test="illegalDomainManager != null">
        #{illegalDomainManager,jdbcType=CLOB},
      </if>
      <if test="techIllegalDomain != null">
        #{techIllegalDomain,jdbcType=CLOB},
      </if>
      <if test="reportIllegalDomain != null">
        #{reportIllegalDomain,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
</mapper>